:root{
    --hover-color: darkgray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins, "Segoe UI", sans-serif; /*TODO get a nice font */
}

body{
    min-height: 100vh;
    min-height: 100dvh;
}

main{
    padding: min(em, 7%);
}

main p{
    margin-top: .35em;
}

div.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.container div {
  padding: 20px;
  text-align: center;
}

nav{
    background-color: antiquewhite; /*might end up changing this*/
}

nav ul{
    list-style: none;
    display: flex;
}

nav .home-li{
    margin-right: auto;
}

nav li{
    display: flex;
}

table {
  border:1px solid black;
}


tr:nth-child(even){
    background-color: #f2f2f2;
}

th{
    background-color: blanchedalmond;
    border: 1px solid black;
}

td{
  border:1px solid black;
  padding: 10px;
}

nav a{
    display: flex;
    text-decoration: none;
    padding: 1em 2em;
    transition: background-color 150ms ease;
}

nav a:hover{
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid;
}


